# --------------------
# Node
# --------------------
node_modules/

# --------------------
# Logs & temp
# --------------------
*.log
*.tmp

# --------------------
# Kubernetes local configs
# --------------------
.kube/
.minikube/
minikube-linux-amd64

# --------------------
# Kubernetes Secrets
# --------------------
k8s/secret.yaml

# --------------------
# Terraform
# --------------------
**/.terraform/*
*.tfstate
*.tfstate.backup
.crash.log
terraform.tfvars
